body,footer{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a005a0;
    height: 70px;
    font-family: 'Love Ya Like A Sister', cursive;
}
  
header, footer{
    background-color: #272838;
}

header .logo{
    font-size:30px;
    color:white;
    margin-left: 30px;
}